<% provide(:title, 'Редактирование') %>
<h1>Редактировать пост</h1>
<%= form_for @post do |f| %>
	<p>Заголовок:<%= f.text_field :title %></p>
	<p>Текст:<%= f.text_area :text %></p>

	<p><%= f.submit "Сохранить" %></p>
<% end %>